{% extends "base.html" %}
{%load crispy_forms_tags%} 
{% load i18n%} 

{%block navbar_option_1%}{%endblock%}
{%block navbar_option_2%}{%endblock%}
{%block navbar_option_3%}{%endblock%}
{%block navbar_option_4%}{%endblock%}
{%block navbar_option_5%}{%endblock%}
{%block navbar_option_6%}{%endblock%}



{% block content %}
    <div class="container-cm rounded bg-white my-5 p-5 shadow">
    <h3>{%translate "Change your password"%}</h3>
    
    <form method="post">
        {% csrf_token %}


        {{ form|crispy }}


        <a href={%url "client-update-user"%} class="btn btn-light rounded-0 float-end">{%translate "Cancel"%}</a>
        <button type="submit" class="btn btn-dark rounded-0 float-end">{%translate "Change password"%}</button>
    </form>
    </div>
{% endblock %}
