{% extends "writter/_main.html" %}
{% load i18n%}
{%load crispy_forms_tags%}

{% block content%}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{%translate "Close"%}"></button>
    </div>
  {% endfor %}
{% endif %}

    <div class="container-cm rounded bg-white my-5 p-5 shadow"> 
        <h3>{% translate "Update article" %}</h3>
        <p>{%translate "You may update the article below:"%}</p>
        <form method="POST" autocomlete="OFF">
            {% csrf_token %}
            {{update_article_form|crispy}}
            <input class="btn btn-dark rounded-0 float-end" type="submit" value="{%translate "Update"%}"/>
        </form>
    </div>
{% endblock%}
